@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,800&display=swap");

:root {
  --primary-color: rgb(96, 112, 255);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #333;
  line-height: 1.6;
  background: #e5e5e5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

/* Navbar */
.navbar {
  position: fixed;
  z-index: 1;
  background: #fff;
  height: 70px;
  width: 100%;
}

.navbar .desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.about h2 {
  font-weight: 700;
  font-size: 40px;
}

.modal h2 {
  font-weight: 700;
  font-size: 40px;
  color: #091e42;
}

.navbar .desktop-nav h2 {
  font-weight: 600;
  color: #6070ff;
}

.programs i {
  font-size: 10px;
  padding: 0 10px;
}

.navbar .desktop-nav i {
  display: none;
  color: #6070ff;
  font-size: 20px;
}

.navbar .desktop-nav ul {
  display: flex;
  gap: 30px;
}

.blur-bg {
  display: none;
}

.mobile-nav {
  display: none;
}

/* .showcase */
.showcase {
  position: relative;
  top: 70px;
  background-color: #fff;
  background-image: url("img/Header\ bg.svg");
  background-position: center 30px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-bottom-left-radius: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.showcase .showcase-text {
  max-width: 750px;
}

.showcase .showcase-text h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #091e42;
}

.new-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-link {
  display: flex;
  gap: 10px;
  font-size: 20px;
  margin: 5px 0;
}

.social-link li a {
  color: #505f79;
}

/* project */
.project {
  margin: 70px 0;
}

.project .project-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #fff;
  padding: 20px;
  gap: 30px;
  border-radius: 16px;
  margin: 71px 0;
}

.project .project-card h2 {
  font-weight: 700;
  font-size: 40px;
  margin-top: 0;
  color: #091e42;
}

.programs {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 18px;
  color: #6b778c;
}

.tags li {
  background: #ebebff;
  border-radius: 8px;
  padding: 3px 10px;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
}

.skill-dropdown li {
  display: flex;
  flex-direction: column;
  background: #f7f7f9;
  border-radius: 8px;
  width: 122px;
  height: 120px;
  margin-top: 20px;
  padding: 20px 10px;
}

.programs li:first-child {
  font-weight: 500;
  font-size: 18px;
  color: #344563;
}

.about p {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.project .project-card p {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-outline {
  display: inline-block;
  background: transparent;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 10px;
  margin: 20px 0;
}

.btn-outline:hover {
  background-color: #396df2;
  color: #fff;
}

/* about */
.about {
  background: #fff;
  padding: 100px 0;
  border-top-right-radius: 160px;
}

.about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.about-skill .skill {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-skill .skill-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.about-skill .skill-list p {
  font-weight: 500;
  font-size: 20px;
  color: #344563;
}

.about-skill .skill-list i {
  font-size: 20px;
  color: #344563;
}

.skill-dropdown {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.skill-dropdown img {
  width: 48px;
}

/* footer */
.foot {
  background: #fff;
}

.footer {
  background-image: url("img/contact\ form\ background\ shapes.svg");
  background-repeat: no-repeat;
  background-position: center 50px;
  background-size: 100%;
  background-color: #6070ff;
  border-top-left-radius: 160px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-details {
  max-width: 500px;
  text-align: center;
  color: #fff;
}

.footer .footer-details h2 {
  font-weight: 700;
  font-size: 40px;
}

.footer .footer-details p {
  font-weight: 400;
  font-size: 20px;
}

.footer .footer-details .form-group {
  width: 90%;
  margin: auto;
  padding: 5px 0;
}

.footer .footer-details .form-group input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
}

.footer .footer-details .form-group textarea {
  width: 100%;
  height: 170px;
  padding: 10px 15px;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
}

.btn-default {
  display: inline-block;
  background: #fff;
  color: #396df2;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 20px 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding: 77px 142px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(193, 199, 208, 0.85);
}

.modal .modal-card {
  background: #fff;
  max-width: 1156px;
  padding: 20px;
  margin: auto;
  border-radius: 16px;
  border: 1px solid #ebecf0;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .programs {
  margin-bottom: 20px;
}

.modal .line {
  border-top: 2px solid #ebecf0;
  margin-top: 20px;
}

.modal .btn-outline {
  margin-right: 20px;
}

.modal .modal-details {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 20px;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .modal .modal-details {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .container {
    padding: 0 20px;
  }

  .navbar .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background-color: rgba(96, 112, 255, 0.85);
    padding: 3em;
    display: none;
    flex-direction: column;
  }

  .blur-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    backdrop-filter: blur(10px);
  }

  .mobile-nav #close-menu {
    color: #fff;
    float: right;
    font-size: 20px;
  }

  .mobile-nav li {
    display: block;
    padding-top: 20px;
  }

  .mobile-nav li a {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
  }

  .mobile-nav li a:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 0.8rem;
  }

  .navbar .desktop-nav .desktop-menu {
    display: none;
  }

  .programs i {
    font-size: 10px;
    padding: 0 10px;
  }

  .navbar .desktop-nav i {
    display: block;
  }

  .showcase {
    background-color: #fff;
    background-image: url("img/header-mobile.svg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 716px;
  }

  .project .project-card {
    grid-template-columns: repeat(1, 1fr);
  }

  .project .project-card h2 {
    font-size: 32px;
  }

  .programs {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 15px;
    color: #6b778c;
  }

  .skill-dropdown li {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    height: 67px;
    background: #f7f7f9;
    border-radius: 8px;
    width: 100%;
    padding: 0 10px;
  }

  .programs li:first-child {
    font-weight: 600;
    font-size: 15px;
    color: #344563;
  }

  .about .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .skill-dropdown {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .footer {
    background-color: #6070ff;
    background-image: url("img/contact-mobile.svg");
    background-repeat: no-repeat;
    background-position: right 10px;
    background-size: contain;
    height: 779px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer .btn-default {
    float: left;
  }
}
